<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>nasa</title>
        <meta name="theme-color" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="css/main.min.css">
    </head>
    <body>

        <section id="main">
            <div class="main__container">
                <div class="main__block">
                    <div class="main__block_items" id="mars_photos">

                    </div>
                    <div class="main__block_param">
                        <div class="main__block_param-rover">
                            <label for="param_rover">Марсоход</label>
                            <select id="param_rover">

                            </select>
                        </div>
                        <div class="main__block_param-camera">
                            <label for="param_camera">Камеры</label>
                            <select id="param_camera">

                            </select>
                        </div>
                        <div class="main__block_param-day">
                            <label for="param_day">Земная дата</label>
                            <input type="date" id="param_day" value="">
                        </div>
                        <div class="main__block_param-btn">
                            <button class="bbtn bbtn-blue bbtn-fw bbtn-1x" id="search">Искать</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <script src="libs/jquery/dist/jquery.min.js"></script>
        <script src="js/main.min.js"></script>
    </body>
</html>
